*{
    
   font-family: sans-serif;  

}

.text-Container{


display: flex;
padding: 10px;
grid-template-columns: repeat(3,auto);
grid-template-rows: repeat(3,auto);
gap: 10px 20px;

justify-content: center;
margin-top: 20px;

}

.text-item .p{

    margin-bottom: 5px;
}

.text-Container .item-text:nth-child(1){

    grid-row: 1/2;
    grid-column: 1/2;
}


.text-Container .item-text:nth-child(2){

    grid-row: 2/2;
    grid-column: 2/2;
}


.text-Container .item-text:nth-child(3){

    grid-row: 3/3;
    grid-column: 3/3;
}

.text-Container .principal-text:nth-child(4){

    grid-row: 4/4;
    grid-column: 4/4;
}


.text-Container .item-text:nth-child(5){

    grid-row: 5/5;
    grid-column: 5/5;
}

.text-Container .caja-video:nth-child(6){

    grid-row: 2/6;
    grid-column: 2/6;
}

.Form-container{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.btn btn-primary{

    margin: 1%;
}

.form-check-label{

    margin: 1%;
}

.flex__container
{
    background-color: whitesmoke;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-flow: row nowrap;
    justify-content: space-around;    
    
}

.btn btn-primary{

    display: bottom;
}

a {
    color: black !important;
    text-decoration: none !important;
    

}

a :hover :focus {

    color: #c6cad1 !important;
}

.flex__item {


   background-color: #05da6f;
   color: white;
}

.image__Container {

    padding: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;   

}

.Img {

    width: 75rem;
    height: 75rem;    

}


.header
{

    padding: 20px;
    display: flex;
    gap: 10px;
    flex-flow: row nowrap;
    justify-content: center;
}

.sucribete {

    
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-flow: row nowrap;
    justify-content: center;
}

.item-text {

    padding: 20px;
    display: flex;
    gap: 10px;
    flex-flow: row nowrap;
    justify-content: center;
}

.video_item {

    padding: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
   
}



.footer-page{

    padding: 20px;
    display: flex;
    gap: 10px;
    flex-flow: row nowrap;
    justify-content: center;
}




@media (max-width: 700px) {

   
    .header .video_item .item-text .text-Container .flex__item .image__Container {

        font-size: 10px;     
        padding: 15px;
        margin: 0px;      

    }
    .Grid-container {

        
        font-size: 10px;
        padding: 15px;
        margin: 0px;      
       
    }

    .flex__container .flex-menu{

        display: block;
        font-size: 10px;
        padding: 15px;
        margin: 0px; 

    }

    .Img {

        width: 25rem;
        height: 25rem;    
    
    }

}