*{


    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    

}

.text-Container{


display: grid;
padding: 10px;
grid-template-columns: repeat(4,auto);
grid-template-rows: repeat(4,auto);
gap: 10px 20px;
align-items: center;
justify-content: center;

}

.text-Container .imagen-ejemplo:nth-child(4){

    grid-column: 1/2;
    
}

.text-Container .text-item:nth-child(1){

    grid-row: 1/4;
}

.text-Container .caja-video :nth-child(3){

    grid-row: 1/5;
    grid-column: 1/5;
}





.flex__container
{
    background-color: aquamarine;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-flow: row nowrap;
    justify-content: center;
}

.flex__item {


   background-color: #05da6f;
   color: white;
}

.image__Container {

    padding: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;   

}

.Img {

    width: 75rem;
    height: 75rem;    

}


.header
{

    padding: 20px;
    display: flex;
    gap: 10px;
    flex-flow: row nowrap;
    justify-content: center;
}

.sucribete {

    
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-flow: row nowrap;
    justify-content: center;
}

.item-text {

    padding: 20px;
    display: flex;
    gap: 10px;
    flex-flow: row nowrap;
    justify-content: center;
}

.video_item {

    padding: 20px;
    display: flex;
    gap: 10px;
    flex-flow: row nowrap;
    justify-content: center;
}

.Grid-container {

display: grid;
padding: 10px;
grid-template-columns: repeat(3,auto);
grid-template-rows: repeat(3,auto);
border: 10rem;
gap: 10px 20px;
align-items: center;


}


.Grid-container .Grid-item:nth-child(8)
{

  grid-column: 1/4;
  grid-row: 1/4;

}

.footer-page{

    padding: 20px;
    display: flex;
    gap: 10px;
    flex-flow: row nowrap;
    justify-content: center;
}


@media (max-width: 480px) {

   
    .text-Container {

        display: flex;      
        flex-basis: 100%;
        gap: 10vh;      

    }
    .Grid-container {

        display: grid;      
        flex-basis: 100%;
        gap: 10vh; 
    }
    .video_item {

        display: flex;      
        flex-basis: 100%;
        gap: 10vh; 
    }
    .item-text{

        display: flex;      
        flex-basis: 100%;
        gap: 10vh; 
        
    }

    .header{

        display: flex;      
        flex-basis: 100%;
        gap: 10vh;
    }

    .image__Container {

        display: flex;      
        flex-basis: 100%;
        gap: 10vh;
    }

    .flex__container {

        display: flex;      
        flex-basis: 100%;
        gap: 10vh; 
    }

    .flex__item {

        display: flex;      
        flex-basis: 100%;
        gap: 10vh; 
    }
    
}
