*{
    
   font-family: sans-serif;  

}

.text-Container{


display: flex;
margin-top: 20px;
margin: 10px;
justify-content: center;


}

.list-group-item{
    
    display: block;   
   
}

.list-group {

    margin-top: 13px
}

.Form-container{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    background-color: whitesmoke;
    border-radius: 20px;
    
}


.contenido{

    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}

.img_content{

    height: 661px;
    width: 960px;
    margin: 0 auto;
}

.margin-name {

    margin-top: 30px;
}


.text_box {

    font-size: 16px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
    
}


.video-box {

    display: flex;
    width: 720px; 
    height: 1024px;


}

.caja-video {

    display: flex;
    margin: 10px;   
   
}

.btn btn-primary{

    margin: 1%;
    margin-bottom: 30px;
}

.btn btn-secondary{

    margin: 1%;

}

.margin-button {

    margin-bottom: 30px;
}

.form-check-label .form-check-input {

    margin: 1%;
    gap: 1%;
}

.flex__container 
{
    background-color: whitesmoke;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-flow: row nowrap;
    justify-content: space-around;    
    
}

.flex-menu{
    background-color: whitesmoke;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-flow: row nowrap;
    justify-content: space-around;    
    
}

.btn btn-primary btn-secondary{

    align-content: center;
    
}

a {
    color: black !important;
    text-decoration: none !important;
    
    

}

a :hover :focus {

    color: #c6cad1 !important;
}

.flex__item {


   background-color: #05da6f;
   color: white;
}

.image__Container {

    padding: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;   

}


.Img {

    width: 75rem;
    height: 75rem;    

}


.header
{

    display: flex;
    padding: 2rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(114,189,82,1) 18%, rgba(0,212,255,1) 100%);

}

.sucribete {

    
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-flow: row nowrap;
    justify-content: center;
}

.item-text {

    padding: 20px;
    display: flex;
    gap: 10px;
    flex-flow: row nowrap;
    justify-content: center;
}

.video_item {

    padding: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
   
}



.footer-page{

    padding: 20px;
    display: flex;
    gap: 10px;
    flex-flow: row nowrap;
    justify-content: center;
}




@media (max-width: 700px) {

   
    .header .video_item .item-text .flex__item .image__Container .list-group-item {


        display: flex;            


    } 
    
    .text-Container{
        
        flex-wrap: wrap-reverse;
        margin-left: 20px;
        margin-right: 20px;
        
        }

    .flex__container {

        display: block;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        padding: 15px;
        margin: 0px;
        

    }   

    .flex-menu {

        display: block;      
        font-size: 10px;
        padding: 15px;
        margin: 0px;
    }

    .video-box {

        display: flex;
        width: 350px; 
        height: 350px;
    
    }

    .img-fluid{

        width: 350px; 
        height: 350px;
    }



    .Img {

        width: 25rem;
        height: 25rem;    
    
    }

    .text_box {

        margin-left: 10px;
        margin-right: 20px;
    }

}